{%extends "base.html"%}

{% block content %}

<form method="post" action="{{record.get_url('save')}}" class="tabulate-record">
	<table>

		{% for column in table.get_columns %}
		<tr>
			<th class="column-title">
				<label for="{{column.get_name}}" class="right inline">{{column.get_title}}
				{% if column.is_required and not column.is_auto_increment %}*{% endif %}
				</label>
			</th>

			<td class='form-field form-required'><!-- Data entry cell -->
				{% include 'field/edit.html' %}
			</td><!-- End data entry cell -->

			<td>
				<label id="{{column.get_name}}-help" class="inline" for="{{column.name}}">
					<em>{{column.get_comment}}</em>

					{% if column.is_unique %}
					The value of this field must be unique.
					{% endif %}

					{% if column.is_foreign_key %}
					This field is a cross reference to
					{% if attribute(record, column.get_name) %}
					<a href="{{ record.get_referenced_record(column.get_name).get_url }}">
						Record <em>{{attribute(record, column.get_name)}}</em>
					</a>
					of
					{% endif %}
					<a href="{{column.get_referenced_table.get_url}}">{{column.get_referenced_table.get_title}}</a>.
					{% endif %}

					{% if column.is_auto_increment %}A value for this field will be assigned automatically.{% endif %}

					{% if column.get_type == 'year' %}
					Only the years 1901&ndash;2155 can be entered here.
					<a href="https://dev.mysql.com/doc/refman/5.6/en/year.html" target="_blank" title="The MySQL DATE type (opens in a new tab)">
						(Why?)
					</a>
					{% endif %}

				</label>
			</td>
		</tr>

	{% endfor %}
		<tr>
			<td></td>
			<td colspan="2">
				<p><label>* An asterisk denotes a required field.</label></p>
				<p>
					Describe the changes you've made:
					<input type="text" name="changeset_comment" />

					<input type="submit" value="Save" class="button success" />
					{% if return_to %}
					<input type="hidden" name="return_to" value="{{return_to}}" />
					<a href="{{return_to}}" class="button">Cancel</a>
					{% endif %}

					{% if record %}
					<input type="hidden" name="primary_key_value" value="{{record.get_primary_key}}" />
					<a href="{{record.get_url('delete')}}" class="button" title="Delete this record">Delete</a>
					{% endif %}
				</p>
			</td>
		</tr>
	</table>
</form>

{% if record.get_primary_key %}
<div class="metabox-holder columns-1"><div class="postbox-container record-meta">

	{% for refinfo in table.get_referencing_tables %}
	<div class="postbox related-records">
		<div class="handlediv" title="Click to toggle"><br /></div>
		<h3 class="hndle" id="related-{{refinfo.table.get_name()}}">
			<span>
				{{refinfo.table.get_title}} &mdash; related records
				(as <em>{{refinfo.column|titlecase}}</em>)
				<a href="{{refinfo.table.get_url('index', {'filter[0][column]':refinfo.column,'filter[0][operator]':'=','filter[0][value]':record.get_title()})}}"
				   class="button button-small">
					View all
				</a>
				<a href="{{refinfo.table.get_url('export', {'filter[0][column]':refinfo.column,'filter[0][operator]':'=','filter[0][value]':record.get_title()})}}"
				   class="button button-small" title="Export related records to Comma Separated Values format">
					CSV of all
				</a>
				{% set defaults_key = 'defaults['~refinfo.column~']' %}
				<a href="{{refinfo.table.get_url('index', {(defaults_key):record.get_primary_key(), ident:'', return_to:record.get_url()~'#related-'~refinfo.table.get_name()}, 'record')}}"
				   class="button button-small">
					Add record
				</a>
			</span>
		</h3>
		<div class="inside">
		{% include 'data_table.html' with { links:true, sortable:false, table:refinfo.table, records:record.get_referencing_records(refinfo.table,refinfo.column) } %}
		</div>
	</div>
	{% endfor %}

	{% if table.has_changes_recorded %}
	<div class="postbox closed">
		<div class="handlediv" title="Click to toggle"><br /></div>
		<h3 class="hndle"><span>History</span></h3>
		<div class="inside">
			<p>Recent changes made to this record.</p>
			<table class="tabulate-change-tracker">
				<thead>
					<tr>
						<th>Date and Time</th>
						<th>Field</th>
						<th>Old Value</th>
						<th></th>
						<th>New Value</th>
						<th>User</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{% for change in record.get_changes %}
					<tr>
						<td>
							<a href="admin.php?page=tabulate&controller=table&action=index&table={{wpdb_prefix}}tabulate_changesets&filter[0][column]=date_and_time&filter[0][operator]=%3D&filter[0][value]={{change.date_and_time}}">
							{{change.date_and_time|get_date_from_gmt|wp_date_format}}
							{{change.date_and_time|get_date_from_gmt|wp_time_format}}
							</a>
						</td>
						<td>{{change.column_name|titlecase}}</td>
						<td class="value">{{change.old_value}}</td>
						<td>&rArr;</td>
						<td class="value">{{change.new_value}}</td>
						<td>{{change.user_nicename}}</td>
						<td><em>{{change.comment}}</em></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}

</div></div><!-- .postbox-container -->
{% endif %}

{% endblock %}
