<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-html" target="testdox.html"/>
    </logging>
</phpunit>
