<div class="tabulate wrap">

	<h1>
		Tabulate
		<a href="https://github.com/tabulate/tabulate/issues" class="add-new-h2"
		   title="Let the authors of Tabulate know that something is wrong" target="_blank">
			<em>Report an issue</em>
		</a>
	</h1>

	{% for notice in notices %}
	<div class="{{notice.type}} notice"><p>{{notice.message}}</p></div>
	{% endfor %}

	{% if table %}
	<h2>{{table.get_title}} <small class='about-text'>{{table.get_comment}}</small></h2>
	<h3 class="nav-tab-wrapper">
		<a href="{{table.get_url}}" class="nav-tab {% if controller=='table' %}nav-tab-active{% endif %}">
			Search
		</a>
		<a href="{{table.get_default_record.get_url}}" class="nav-tab {% if controller=='record' %}nav-tab-active{% endif %}">
			{% if record.get_primary_key %}Edit{% else %}Create{% endif %}
		</a>
		<a href="{{table.get_url('export')}}" class="nav-tab {% if controller=='export' %}nav-tab-active{% endif %}">
			Export
		</a>
	</h3>
	{% endif %}

	{% block content %}{% endblock %}

	<div class="footer">
		<hr />
		<p>This is <a href="https://wordpress.org/plugins/tabulate/">Tabulate {{tabulate_version}}</a>.</p>
	</div>
</div>
