{% extends "base.html" %}
{% block content %}

<div id="dashboard-widgets" class="metabox-holder">

	<div class="postbox-container" id="postbox-container-1">
		<div class="postbox">
			<div class="handlediv" title="Click to toggle"><br /></div>
			<h3><span>Tables</span></h3>
			<div class="inside">
				<ol>
					{% for table in tables %}
					<li>
						<a href="{{table.url}}">{{table.title}}</a>
						({{table.count|number_format}})
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

	<div class="postbox-container" id="postbox-container-2">
		<div class="postbox">
			<h3>Views</h3>
			<div class="inside">
				<ol>
					{% for view in views %}
					<li><a href="{{view.get_url}}">{{view.get_title}}</a></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

	<div class="postbox-container" id="postbox-container-3">
		<div class="postbox">
			<h3>Reports</h3>
			<div class="inside">
				<ol>
					{% for report in reports %}
					<li>
						<a href="{{admin_url('admin.php?page=tabulate&controller=reports&id='~report.id)}}">{{report.title()}}</a>
						&mdash; {{report.description()}}
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

</div>
<div class="clear" />

{% endblock %}
