{% extends "base.html" %}
{% block content %}

<h1>Tabulate</h1>

<div id="dashboard-widgets" class="metabox-holder">

	<div class="postbox-container" id="postbox-container-1">
		<div class="postbox">
			<div class="handlediv" title="Click to toggle"><br /></div>
			<h2 class="hndle"><span>Tables</span></h2>
			<div class="inside">
				{% if current_user_is_admin %}
				<form action="{{admin_url('admin.php?page=tabulate&controller=schema&action=newtable')}}" method="post">
					<label for="new-table">Create a new table:</label>
					<input type="text" name="new_table_name" id="new-table" class="schema-identifier" placeholder="Enter table name" size="15" />
					<input type="submit" value="Create" class="button button-secondary" />
				</form>
				{% endif %}
				<ol>
					{% for table in tables %}
					<li>
						<a href="{{table.url}}">{{table.title}}</a>
						({{table.count|number_format}})
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

	<div class="postbox-container" id="postbox-container-2">
		<div class="postbox">
			<h2 class="hndle">Views</h2>
			<div class="inside">
				<ol>
					{% for view in views %}
					<li><a href="{{view.get_url}}">{{view.get_title}}</a></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

	<div class="postbox-container" id="postbox-container-3">
		<div class="postbox">
			<h2 class="hndle">Reports</h2>
			<div class="inside">
				<ol>
					{% for report in reports %}
					<li>
						<a href="{{admin_url('admin.php?page=tabulate&controller=reports&id='~report.id)}}">{{report.title()}}</a>
						&mdash; {{report.description()}}
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

</div>
<div class="clear" />

{% endblock %}
