{%extends "base.html"%}

{% block content %}

<form method="post" action="{{record.get_url('save')}}" class="tabulate-record">
	<table>

		{% for column in table.get_columns %}
		<tr>
			<th>
				<label for="{{column.get_name}}" class="right inline">{{column.get_title}}
				{% if column.is_required and not column.is_auto_increment %}*{% endif %}
				</label>
			</th>

			<td class='form-field form-required'><!-- Data entry cell -->

			{% if column.is_foreign_key and column.get_referenced_table.count_records <= 20 %}
			<select name="{{column.get_name}}" id="{{column.get_name}}" aria-describedby="{{column.get_name}}-help"
				{% if column.is_required %}required{% endif %}
				>
				{% if column.nullable %}<option></option>{% endif %}
				{% for row in column.get_referenced_table.get_records %}
				<option value="{{ attribute(row, column.get_referenced_table.get_pk_column.get_name) }}"
					{% if attribute(record, column.get_name) == attribute(row, column.get_referenced_table.get_pk_column.get_name) %}
					selected
					{% endif %}
					>
					{{ attribute(row, column.get_referenced_table.get_title_column.get_name) }}
				</option>
				{% endfor %}
			</select><!-- End foreign key select -->

			{% elseif column.is_foreign_key and column.get_referenced_table.count_records > 20 %}
			<input type="text" class="foreign-key-actual-value" readonly name="{{column.get_name}}"
				   value="{{ attribute(record, column.get_name)}}" {% if column.is_required %}required{% endif %} />
			<input type="text" class="foreign-key" {% if column.is_required %}required{% endif %}
				   data-fk-table="{{column.get_referenced_table.get_name}}"
				   value="{{ record.get_referenced_record(column.get_name).get_title }}" />

			{% elseif column.get_type=='enum' %}
			<select name="{{column.get_name}}" id="{{column.get_name}}" aria-describedby="{{column.get_name}}-help"
				{% if column.is_required %}required{% endif %}
				>
				{% if column.nullable %}<option></option>{% endif %}
				{% for option in column.get_options %}
				<option value="{{option}}" {% if attribute(record, column.get_name) == option %}selected{% endif %}>
					{{option}}
				</option>
				{% endfor %}
			</select><!-- End ENUM select -->

			{% elseif column.is_boolean %}
			<input type="radio" name="{{column.get_name}}" id="{{column.get_name}}-yes"
				   value="1" {% if attribute(record, column.get_name) is sameas(true) %}checked{% endif %} />
			<label for="{{column.get_name}}-yes">Yes</label>
			<input type="radio" name="{{column.get_name}}" id="{{column.get_name}}-no"
				   value="0" {% if attribute(record, column.get_name) is sameas(false) %}checked{% endif %} />
			<label for="{{column.get_name}}-no">No</label>
			{% if column.is_null %}
			<input type="radio" name="{{column.get_name}}" id="{{column.get_name}}-null"
				   value="" {% if attribute(record, column.get_name) is null %}checked{% endif %} />
			<label for="{{column.get_name}}-null" title="Not Applicable">N/A</label>
			{% endif %}

			{% elseif column.get_type=='text' %}
			<textarea name="{{column.get_name}}" id="{{column.get_name}}" aria-describedby="{{column.get_name}}-help"
					  {% if column.is_required %}required{% endif %} rows="5" cols="80"
					  >{{ attribute(record, column.get_name)}}</textarea>

			{% else %}
			<input type="text" name="{{column.get_name}}" id="{{column.get_name}}" value="{{ attribute(record, column.get_name)}}" 
				   aria-describedby="{{column.get_name}}-help" data-column-type="{{column.get_type}}"
				   {% if column.is_auto_increment %}readonly{% endif %}
				   {% if column.is_required and not column.is_auto_increment %}required{% endif %}
				   />

			{% endif %}
			</td><!-- End data entry cell -->

			<td>
				<label id="{{column.get_name}}-help" class="inline" for="{{column.name}}">
					<em>{{column.get_comment}}</em>

					{% if column.is_unique %}
					The value of this field must be unique.
					{% endif %}

					{% if column.is_foreign_key %}
					This field is a cross reference to
					{% if attribute(record, column.get_name) %}
					<a href="{{ record.get_referenced_record(column.get_name).get_url }}">
						Record <em>{{attribute(record, column.get_name)}}</em>
					</a>
					of
					{% endif %}
					<a href="{{column.get_referenced_table.get_url}}">{{column.get_referenced_table.get_title}}</a>.
					{% endif %}

					{% if column.is_auto_increment %}A value for this field will be assigned automatically.{% endif %}

					{% if column.get_type == 'year' %}
					Only the years 1901&ndash;2155 can be entered here.
					<a href="https://dev.mysql.com/doc/refman/5.6/en/year.html" target="_blank" title="The MySQL DATE type (opens in a new tab)">
						(Why?)
					</a>
					{% endif %}

				</label>
			</td>
		</tr>

	{% endfor %}

		<tr>
			<td></td>
			<td colspan="2">
				<p><label>* An asterisk denotes a required field.</label></p>
				<p>
					Describe the changes you've made:
					<input type="text" name="changeset_comment" />

					<input type="submit" value="Save" class="button success" />
					<!--<a href="{{table.get_url}}" class="button" title="Return to search">Cancel</a>-->
					{% if record %}
					<input type="hidden" name="primary_key_value" value="{{record.get_primary_key}}" />
					<a href="{{record.get_url('delete')}}" class="button alert" title="Delete this record">Delete</a>
					{% endif %}
				</p>
			</td>
		</tr>
	</table>
</form>

{% if table.has_changes_recorded %}
<h3>History</h3>
<table class="tabulate-change-tracker">
	<caption>Recent changes made to this record.</caption>
	<thead>
		<tr>
			<th>Date and Time</th>
			<th>Field</th>
			<th>Old Value</th>
			<th></th>
			<th>New Value</th>
			<th>User</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		{% for change in record.get_changes %}
		<tr>
			<td>
				<a href="admin.php?page=tabulate&controller=table&action=index&table={{wpdb_prefix}}tabulate_changesets&filter[0][column]=date_and_time&filter[0][operator]=%3D&filter[0][value]={{change.date_and_time}}">
				{{change.date_and_time|wp_date_format}}
				{{change.date_and_time|wp_time_format}}
				</a>
			</td>
			<td>{{change.column_name|titlecase}}</td>
			<td class="value">{{change.old_value}}</td>
			<td>&rArr;</td>
			<td class="value">{{change.new_value}}</td>
			<td>{{change.user_nicename}}</td>
			<td><em>{{change.comment}}</em></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% if table.get_referencing_tables %}
<h3>Related tables</h3>
<p>Tables that refer to this table:</p>
<ul class="referencing-tables">

	{% for refcol,reftab in table.get_referencing_tables %}
	<li>
		<a href="{{reftab.get_url}}">{{reftab.get_title}}</a>
		(as <em>{{refcol|titlecase}}</em>)
	</li>
	{% endfor %}

</ul><!-- .referencing-tables -->
{% endif %}

{% endblock %}
