{%extends "base.html"%}

{% block content %}

<form method="post" action="{{record.get_url}}">
	<table>

		{% for column in table.get_columns %}
		<tr>
			<th>
				<label for="{{column.get_name}}" class="right inline">{{column.get_title}}
				{% if column.is_required and not column.is_auto_increment %}*{% endif %}
				</label>
			</th>

			<td><!-- Data entry cell -->

			{% if column.is_foreign_key %}
			<select name="{{column.get_name}}" id="{{column.get_name}}" aria-describedby="{{column.get_name}}-help"
					{% if column.is_required %}required{% endif %}
					>
				{% for row in column.get_referenced_table.get_records %}
				
				<option value="{{ attribute(row, column.get_referenced_table.get_pk_column.get_name) }}"
						{% if attribute(record, column.get_name) == attribute(row, column.get_referenced_table.get_pk_column.get_name) %}
						selected
						{% endif %}
						>
					{{ attribute(row, column.get_referenced_table.get_title_column.get_name) }}
				</option>
				{% endfor %}
			</select>

			{% elseif column.isBoolean %}
			<input type="radio" name="{{column.name}}" id="{{column.name}}-yes"
				   value="1" {% if attribute(record, column.name) is sameas(true) %}checked{% endif %} />
			<label for="{{column.name}}-yes">Yes</label>
			<input type="radio" name="{{column.name}}" id="{{column.name}}-no"
				   value="0" {% if attribute(record, column.name) is sameas(false) %}checked{% endif %} />
			<label for="{{column.name}}-no">No</label>
			{% if column.isNull %}
			<input type="radio" name="{{column.name}}" id="{{column.name}}-null"
				   value="" {% if attribute(record, column.name) is null %}checked{% endif %} />
			<label for="{{column.name}}-null" title="Not Applicable">N/A</label>
			{% endif %}

			{% elseif column.type=='text' %}
			<textarea name="{{column.get_name}}" id="{{column.get_name}}" aria-describedby="{{column.get_name}}-help"
					  {% if column.is_required %}required{% endif %} rows="5"
					  >{{ attribute(record, column.get_name)}}</textarea>

			{% else %}
			<input type="text" name="{{column.get_name}}" id="{{column.get_name}}" value="{{ attribute(record, column.get_name)}}" 
				   aria-describedby="{{column.get_name}}-help"
				   {% if column.is_auto_increment %}readonly{% endif %}
				   {% if column.is_required and not column.is_auto_increment %}required{% endif %}
				   {% if column.type == 'year' %}pattern="number"{% endif %}
				   {% if column.type == 'date' %}pattern="date"{% endif %}
				   />

			{% endif %}
			</td><!-- End data entry cell -->

			<td>
				<label id="{{column.get_name}}-help" class="inline" for="{{column.name}}">
					<em>{{column.get_comment}}</em>
					{% if column.is_foreign_key %}
					This field is a cross reference to
					<a href="{{column.get_referenced_table.get_url}}">{{column.get_referenced_table.get_title}}</a>.
					{% endif %}
					{% if column.is_auto_increment %}A value for this field will be assigned automatically.{% endif %}
				</label>
			</td>
		</tr>

	{% endfor %}

		<tr>
			<td></td>
			<td>
				<p><label>* An asterisk denotes a required field.</label></p>
				<p>
					<input type="submit" value="Save" class="button success" />
					<a href="{{baseurl}}/table/{{table.name}}" class="button" title="Return to search">Cancel</a>
					{% if record %}
					<input type="hidden" name="primary_key_value" value="{{record.getPrimaryKey}}" />
					<a href="{{baseurl}}/record/{{table.name}}/{{record.getPrimaryKey}}/delete" class="button alert" title="Delete this record">Delete</a>
					{% endif %}
				</p>
			</td>
		</tr>
	</table>
</form>

{% for refTab in table.referencingTables %}

<div class="referencing-table">
<h2>{{ refTab.name }}</h2>

{{refTab.countRecords}}

{% if refTab.countRecords < 10 %}
    {% include "table.html" with {'table': refTab} %}
{% endif %}


</div><!-- .referencing-table -->
{% endfor %}

{% endblock %}
