{% extends "base.html" %}

{% block content %}

<form action="{{table.get_url}}" method="get" class="tabulate-filters about-description">
	<input type="hidden" name="page" value="tabulate" />
	<input type="hidden" name="controller" value="table" />
	<input type="hidden" name="action" value="index" />
	<input type="hidden" name="table" value="{{table.get_name}}" />
	<table>

		{% for fid,filter in filters %}
		<tr class="tabulate-filter">
			<td class="label">
				<label>
					{% if fid==0 %}Find records where{% else %}&hellip;and{% endif %}
				</label>
			</td>
			<td>
				<select name="filter[{{fid}}][column]">
					{% for column in table.get_columns %}
					<option value="{{column.get_name}}" {% if column.get_name==filter.column %}selected{% endif %}>
						{{column.get_title}}
					</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<select name="filter[{{fid}}][operator]">
					{% for op,name in operators %}
					<option value="{{op}}" {% if op==filter.operator %}selected{% endif %}>
						{{name}}
					</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<input type="text" name="filter[{{fid}}][value]" value="{{filter.value}}" />
			</td>
		</tr>
		{% endfor %}

		<tr>
			<td colspan="3">
			</td>
			<td class="buttons">
				<input type="submit" value="Search" class="button" />
				{% if filter_count > 1 %}
				<a href="{{table.get_url}}" class="button">Clear filters</a>
				{% endif %}
			</td>
		</tr>

	</table>
</form>


<div class='tablenav tablenav-top'>

	<!-- Right side -->
	<div class="alignleft actions bulkactions">
		<a href="{{table.get_url('export', true)}}" class="button">
			Export CSV
		</a>
		{% if table.get_columns('point') %}
		<a href="{{table.get_url('kml', true, 'map')}}" class="button">
			Export KML
		</a>
		{% endif %}
	</div>

	<!-- Left side -->
	<div class='tablenav-pages'>
		<span class="displaying-num">
			{{record_count|number_format}} record{% if record_count != 1 %}s{% endif %}
		</span>

		{% if table.get_page_count > 1 %}
		<span class='pagination-links'>
			<a class='first-page {%if table.get_current_page_num == 1%}disabled{% endif %}' title='Go to the first page'
			   href='{{table.get_url}}'>
				&laquo;
			</a>
			<a class='prev-page {%if table.get_current_page_num == 1%}disabled{% endif %}' title='Go to the previous page'
			   href='{{table.get_url}}&p={{table.get_current_page_num - 1}}'>
				&lsaquo;
			</a>
			<span class="paging-input">
				<label for="current-page-selector" class="screen-reader-text">Select Page</label>
				<input class='current-page' id='current-page-selector' title='Current page' disabled
					   type='text' name='paged' value='{{table.get_current_page_num}}' size='1' />
				of
				<span class='total-pages'>{{table.get_page_count|number_format}}</span> pages
			</span>
			<a class='next-page {%if table.get_current_page_num == table.get_page_count%}disabled{% endif %}'
			   title='Go to the next page' href='{{table.get_url}}&p={{table.get_current_page_num + 1}}'>
				&rsaquo;
			</a>
			<a class='last-page {%if table.get_current_page_num == table.get_page_count%}disabled{% endif %}'
			   title='Go to the last page' href='{{table.get_url}}&p={{table.get_page_count}}'>
				&raquo;
			</a>
		</span>
		{% endif %}

	</div>

</div>

{% include 'data_table.html' with { links:true } %}

{%endblock%}
